<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
    <link rel="stylesheet" href="../css/dashboard.css">
    <title>App Web</title>
</head>
<body>
    <h1>Dashboard</h1>
    <p id="dashboard-welcome">Bienvenido</p>

    <div id="tables">
        <h3>Mesas</h3>

    </div>

    <div id="reservations">
        <h3>Reservaciones</h3>

    </div>

    <div id="calendar" style="width: 650px;">
        <!-- <h3>Horas ocupadas: </h3> -->
    </div>

    <button id="openModalBtn">Hacer reservación</button>

    <div class="modal" id="reservationModal">
        <div class="modal-content">
            <span id="closeModalBtn" class="close-btn" style="cursor: pointer">&times;</span>

            <h3>Hacer Reservacion</h3>
            <form method="post" id="form-reservation">
                <select id="reservation-table"></select>
                <input id="reservation-date" type="date" min="" default="" placeholder="Fecha" required>

                <select id="reservation-startTime"></select>

                <select id="reservation-endTime"></select>

                <p>Pedido</p>
                <label>Añadir Orden?</label>
                <input type="checkbox" id="reservation-addOrder">

                <blockquote></blockquote>
                <!-- <input type="text" name="order1" id="reservation-order1"  placeholder="Pedido 1">
                <input type="number" name="amount1" id="order-amount1"  placeholder="Cantidad">
                <blockquote></blockquote>
                <input type="text" name="order2" id="reservation-order2"  placeholder="Pedido 2">
                <input type="number" name="amount2" id="order-amount2" placeholder="Cantidad"> -->

                <div id="productAccordion" class="accordion" style="display: none;">
                    <!-- Los productos se agregarán aquí dinámicamente -->
                </div>

                <blockquote></blockquote>
                <button type="submit">Reservar</button>
            </form>

        </div>
    </div>

    
    

    <button id="btn-logout">Salir</button>

    <!-- <script type="module" src="../js/routes.js"></script> -->
    <script type="module" src="../js/dashboard.js"></script>
</body>
</html>