<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Web</title>
</head>
<body>
    <h1>Dashboard</h1>
    <p id="dashboard-welcome">Bienvenido</p>

    <div id="tables">
        <h3>Mesas</h3>

    </div>

    <div id="reservations">
        <h3>Reservaciones</h3>

    </div>
    

    <button id="btn-logout">Salir</button>

    <script type="module" src="../js/routes.js"></script>
    <script type="module" src="../js/dashboard.js"></script>
</body>
</html>