<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Web</title>

    <link href="https://fonts.googleapis.com/css2?family=Krona+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oxygen+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&family=Oxygen+Mono&display=swap" rel="stylesheet">
    
    <!-- styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <nav class="navbar section-content">
            <a href="#" class="nav-logo">
                <img src="../img/sushi-hashi.png" alt="Logo" class="nav-logo-icon">
                <h2 class="logo-text">GOMORI SUSHI</h2>
            </a>
            <ul class="nav-menu">
                <button id="menu-close-button">
                    <i class="fas fa-times"></i>
                </button>
                <li class="nav-item">
                    <a href="index.html" class="nav-link">HOME</a>
                </li>
                <li class="nav-item">
                    <a href="menu.html" class="nav-link">MENU</a>
                </li>
                <li class="nav-item">
                    <a href="login.html" class="nav-link">RESERVAR</a>
                </li>
                <li class="nav-item">
                    <a href="#about" class="nav-link">ACERCA DE</a>
                </li>   
            </ul>
            <button id="menu-open-button">
                <i class="fas fa-bars"></i>
            </button>
        </nav>
    </header>

    <main>
        <section class="menu-section">
            <div class="title">
                <h2 class="menu-section-title">Nuestro Menu</h2>
            </div>
            <div class="section-content">
                <ul class="menu-list">                
                    <li class="menu-item">
                        <img src="../img/crazy-kani-roll.png" alt="Crazy Kani Roll" class="menu-image">
                        <h3 class="name">Crazy Kani Roll</h3>
                        <p class="text">Salmón, kampachi marinado, queso crema, aguacate con tope cangrejo desmenuzado, wakame y masago</p>
                    </li>
                    <li class="menu-item">
                        <img src="../img/sakai-roll.png" alt="Sakai Roll" class="menu-image">
                        <h3 class="name">Sakai Roll</h3>
                        <p class="text">Camarón tempurizado, calamar, queso crema, cebollín, chispas de temputa y una salsa picante con tope de cangrejo en tiras, wakame, salsa de anguila y sésamo</p>
                    </li>
                    <li class="menu-item">
                        <img src="../img/summer-roll.png" alt="Summer Roll" class="menu-image"> 
                        <h3 class="name">Summer Roll</h3>                
                        <p class="text">Empanizado, atún ahumado, queso tentación, plátano, batata empanizada, aguacate, cebollín y salsa picante con tope de salsas dinamita y anguila</p>
                    </li>
                    <li class="menu-item">
                        <img src="../img/california-roll.png" alt="California Roll" class="menu-image">
                        <h3 class="name">California Roll</h3>
                        <p class="text">Cangrejo, aguacate, pepino, masago y sésamo</p>
                    </li>
                    <li class="menu-item">
                        <img src="../img/sensei-roll.png" alt="Sensei Roll" class="menu-image">
                        <h3 class="name">Sensei Roll</h3>
                        <p class="text">Camarón tempurizado, calamar, queso crema, cebollín, chispas de tempura, salsa picante con tope de cangrejo desmenuzado, wakame, mayonesa, salsa anguila y sésamo</p>
                    </li>
                    <li class="menu-item">
                        <img src="../img/tiger-roll.png" alt="Tiger Roll" class="menu-image">
                        <h3 class="name">Tiger Roll</h3>
                        <p class="text">Relleno de salmón, queso crema y masago</p>
                    </li>
                </ul> 
            </div>
        </section>
    </main>
</body>
</html>